{% extends "BaseCoreBundle::layout.html.twig" %}

{% block menu %}
	{{ parent() }}
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<p class="text-warning text-center">Cette version de la présentation des interfaces de prévisions est encore en cours de développement.</br>
	Si vous rencontrez des bugs, n'hésitez pas à prendre quelques minutes pour nous les remonter.</br>
	Nous ferons notre possible pour y remédier au plus vite.</p>
	
	<div class="center-block text-center form-contact">
		<form action="{{ path('bug') }}" method="post" {{ form_enctype(form) }} role="form">
	    
			<div class="form-group">
		    	{{ form_errors(form) }}
		    </div>
		    
			<div class="form-group">
		    	{{ form_widget(form.subject, {'attr': {'class': 'form-control','placeholder': 'Sujet'}}) }}
		    </div>

		    <div class="form-group">
		    	{{ form_widget(form.body, {'attr': {'class': 'form-control','placeholder': 'Message', 'rows': '5'}}) }}
		    </div>

		    <div class="form-group">
		    	{{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
		    </div>

			<div class="form-group">
		    	{{ form_rest(form) }}
		    </div>
			
		</form>
	</div>

{% endblock %}