{% extends "BaseCoreBundle::layout.html.twig" %}

{% block content %}

	<div class="col-md-9">
		<form action="{{ path('prevision') }}" method="post" {{ form_enctype(form) }} role="form">
			<div class="col-xs-3 col-sm-3 col-md-3">
				<nav class="navbar navbar-default" role="navigation">
					<div class="acidjs-css3-treeview">
				    	<ul>
				    		{% for windfarm in form.windfarms %}
								<li>
									{{ form_widget(windfarm, {'id': 'node-' ~ loop.index0 }) }}
									<label>
										<input type="checkbox" />
										<span></span>
									</label>
									<label for="node-{{loop.index0}}">{{ windfarm.vars.label|split('_')[0] }}</label>
									<ul>
										{% for turbine in form.turbines %}
											{% if turbine.vars.label|split('_')[1] == windfarm.vars.label|split('_')[1] %}
												<li>
													{{ form_widget(turbine, {'id': 'node-' ~ loop.parent.loop.index0 ~ '-' ~ loop.index0}) }}
													<label>
														<input type="checkbox" />
														<span></span>
													</label>
													<label for="node-{{loop.parent.loop.index0}}-{{loop.index0}}">{{ turbine.vars.label|split('_')[0] }}</label>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
			            </ul>		            
					</div>
				</nav>
			</div>
		</form>

		<div class="form-group">
	    	{{ form_row(form._token) }}
	    	{# form_rest(form) #}
	    </div>
		View prevision Core!
	</div>
{% endblock %}