{% block menu %}
	<div class="col-xs-3 col-sm-3 col-md-3">
	    <nav class="navbar navbar-default" role="navigation">
			<div class="acidjs-css3-treeview">
				<ul>
					{% for parc in parcs %}
						<li>
							<input type="checkbox" id="node-{{loop.index0}}" checked="checked" />
							<label>
								<input type="checkbox" />
								<span></span>
							</label>
							<label for="node-{{loop.index0}}">{{ parc.name }} ({{ parc.alias }})</label>
						
							<ul>
								{% for turbines in parc %}
									{% for turbine in turbines %}
										<li>
											<input type="checkbox" id="node-{{loop.parent.loop.index0}}-{{loop.index0}}" checked="checked" />
											<label>
												<input type="checkbox" />
												<span></span>
											<label>
											<label for="node-{{loop.parent.loop.index0}}-{{loop.index0}}"> {{ turbine.alias }}</label>
										</li>
									{% endfor %}
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
	            </ul>
	        </div>
		</nav>
	</div>
{% endblock %}