{% extends "BaseCoreBundle::layout.html.twig" %}

{% block content %}
	
	<form action="{{ path('statuscode') }}" method="post" {{ form_enctype(form) }} role="form">
		<div class="col-xs-3 col-sm-3 col-md-3">
			<nav class="navbar navbar-default" role="navigation">
				<div class="acidjs-css3-treeview">
			    	<ul>
			    		{% for windfarm in form.turbines %}
							<li>
								{{ form_widget(windfarm, {'attr': {'class': ' datepicker'}}) }}
								{{ form_label(windfarm) }}
							</li>
						{% endfor %}
		            </ul>
				</div>
			</nav>
		</div>

		<div class="col-xs-9 col-sm-9 col-md-6">
			<p class="text-center">
				<span class="lead">Export des status code</span>
				<a data-toggle="modal" href="#myModal" data-target="#myModal">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				</a>
			</p>

			<div class="text-center">
				<div class="form-group">
			    	{{ form_errors(form) }}
			    </div>
			    
				<div class="form-group">
			    	{{ form_widget(form.exportBegin, {'attr': {'class': ' datepicker','placeholder': 'début export'}}) }}
			    	{{ form_widget(form.exportEnd, {'attr': {'class': ' datepicker','placeholder': 'fin export'}}) }}
			    </div>

			    <div class="form-group">
			    	{{ form_widget(form.arrayId, {'attr': {'class': '',
			    										   'placeholder': 'id(s) status code',
			    										   'rows': '3',
			    										   'cols' : '41'}})
			    	}}
			    </div>
				
				<div class="form-group">
			    	{{ form_widget(form.save, {'attr': {'class': ' btn btn-default'}}) }}
			    </div>

			    <div class="form-group">
								{# form_widget(form.turbines) #}
			    	{# form_widget(form.turbines, {'attr': {'class': ''}}) #}
			    	{{ form_row(form._token) }}
			    </div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3">
			<ul class="list-unstyled">
				{% for statusCode in statusCodes %}
					<li>
						{{ statusCode.id[2:] ~ ' - ' ~ statusCode.name}}
					</li>	
				{% endfor %}
			</ul>
		</div>
	</form>
{% endblock %}