{% extends "BaseCoreBundle::layout.html.twig" %}

{% block content %}
	
	<form action="{{ path('statuscode') }}" method="post" {{ form_enctype(form) }} role="form">
		<div class="col-xs-3 col-sm-3 col-md-3">
			<nav class="navbar navbar-default" role="navigation">
				<div class="acidjs-css3-treeview">
			    	<ul>
			    		{% for windfarm in form.windfarms %}
							<li>
								{{ form_widget(windfarm, {'id': 'node-' ~ loop.index0 }) }}
								<label>
									<input type="checkbox" />
									<span></span>
								</label>
								<label for="node-{{loop.index0}}">{{ windfarm.vars.label|split('_')[0] }}</label>
								<ul>
									{% for turbine in form.turbines if turbine.vars.label|split('_')[1] == windfarm.vars.label|split('_')[1] %}
										<li>
											{{ form_widget(turbine, {'id': 'node-' ~ loop.parent.loop.index0 ~ '-' ~ loop.index0}) }}
											<label>
												<input type="checkbox" />
												<span></span>
											</label>
											<label for="node-{{loop.parent.loop.index0}}-{{loop.index0}}">{{ turbine.vars.label|split('_')[0] }}</label>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
		            </ul>		            
				</div>
			</nav>
		</div>

		<div class="col-xs-9 col-sm-9 col-md-6">
			<p class="text-center">
				<span class="lead">Export des status code</span>
				<a data-toggle="modal" href="#myModal" data-target="#myModal">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				</a>
			</p>

			<div class="text-center">
				<div class="form-group">
			    	{{ form_errors(form) }}
			    </div>

				<div class="form-group">
			    	{{ form_widget(form.exportBegin, {'attr': {'class': ' datepicker','placeholder': 'début export'}}) }}
			    	{{ form_widget(form.exportEnd, {'attr': {'class': ' datepicker','placeholder': 'fin export'}}) }}
			    </div>

			    <div class="form-group">
			    	{{ form_widget(form.arrayId, {'attr': {'class': '',
			    										   'placeholder': 'id(s) status code',
			    										   'rows': '3',
			    										   'cols' : '41'}})
			    	}}
			    </div>
				
				<div class="form-group">
			    	{{ form_widget(form.save, { 'label': 'Générer un export' }) }}
			    </div>

			    <div class="form-group">
			    	{{ form_row(form._token) }}
			    	{# form_rest(form) #}
			    </div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3">
			<div class="navbar navbar-default">
				<ul class="acidjs-css3-treeview">
					{% for statusCode in statusCodes|sort %}
						<li>
							<label style="margin-left:4%;">
								{{ statusCode.id ~ ' - ' ~ statusCode.name}}
							</label>
						</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
	</form>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Export des status code</h4>
      			</div>
      			
      			<div class="modal-body">
      				L'export des status code se déroule en 3 étapes : </br></br>
      				1) Sélection des turbines (menu latéral gauche).</br>
      				2) Sélection de la période d'export.</br>
      				3) Sélection des status code à exporter (menu latéral droit).</br></br>

      				<b>Note</b> : seuls les numéros (ids) des status codes sont necessaires, en cas de saisie
      				multiple, séparer les ids par des virgules. Entrer le mot clé "<b>all</b>" pour sélectionner
      				tous les status code.
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
    		</div>
  		</div>
	</div>
	
{% endblock %}